.Form__Field {
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    color: #002233;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    transition: all .2s linear;
}

.Form__Field:focus {
    box-shadow: 0 0 7px rgba(255, 255, 255, .9);
    border-color: #002233;
    outline: none;
}
